<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <application android:theme="@style/AppTheme" android:label="QTV" android:icon="@drawable/mibox_icon" android:roundIcon="@drawable/mibox_icon" android:banner="@drawable/mibox_banner" android:resizeableActivity="true" android:hardwareAccelerated="true" android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity" android:label="QTV" android:icon="@drawable/mibox_icon" android:banner="@drawable/mibox_banner" android:enableOnBackInvokedCallback="false" android:screenOrientation="landscape" android:configChanges="orientation|screenSize|keyboardHidden" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/><category android:name="android.intent.category.LEANBACK_LAUNCHER"/><category android:name="android.intent.category.HOME"/><category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
